/* Author: Le Quang Khai, 19521656 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background: #e3f5f7;
}

.row {
    background: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover {
    background: white;
    border: 1px solid;
    color: black;
}
.icon {
    height: 60px;
    width: 60px;
}
